form(action='/settings/income', method='post', autocomplete='off') 
  if user.income
    label(for='income') Update monthly income
  else
    label(for='income') Add monthly income
  br
  br
  input(type='text', name='income') 
  input(type='submit', value='Update')
  if messages
    if messages.income
      p.form-message.error #{ messages.income }
    if messages.incomeSuccess
      p.form-message.success #{ messages.incomeSuccess }
  script.
    document.querySelector('input[name="income"]').setAttribute('placeholder', (Math.random() * 5 * 500).toFixed(2));
    document.currentScript.remove();
