extends layouts/main-layout

block styles
  link(rel='stylesheet', type='text/css', href='/styles/error.css')

block title
  if status
    title #{ status }
  else
    title Not found

block content
  p.shrug ¯\_(ツ)_/¯
  br
  if msg
    p #{ msg }
  else
    p The page wasn't found
