extends layouts/main-layout

block title
  title Homepage

block content
  .test
    canvas#myChart
  script(
    src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js'
  )
  script(src='scripts/app.js') 
