extends layouts/main-layout

block styles
  link(rel='stylesheet', type='text/css', href='/styles/forms.css')
  link(rel='stylesheet', type='text/css', href='/styles/authentication.css')

block title
  title Login

block content
  include includes/login_form
