extends layouts/main-layout

block styles
  link(rel='stylesheet', type='text/css', href='/styles/forms.css')
  link(rel='stylesheet', type='text/css', href='/styles/settings.css')

block title
  title Settings

block content
  include includes/expense_form
  hr
  include includes/income_form
  hr
  include includes/delete_form
