/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Unica+One&display=swap');

/* Root pseudo class */
:root {
  --bg-color: #c0c0c0;
  --header-color: #e4e4e4;
  --btn-color: #b1a296;
  --gray: #494949;
  --btn-hover-color: #5d5c61;
}

/*#region*/

/* CSS RESET - https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* End of CSS RESET */

/*#endregion*/

/* Base CSS START */

html {
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.shrug-emote {
  font-size: 5em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  width: 50vw;
  height: 50vh;
}

.settings-forms {
  display: flex;
  column-gap: 3em;
}
